
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

    :root {
      --c1: #21E6C1;
      --c2: #278EA5;
      --c3: #1F4287;
      --c4: #071E3D;
    }

    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    .container {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 600px;
      transform: translate(-50%, -50%);
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Quicksand', sans-serif;
    }

    .item {
      position: relative;
      width: 400px;
      height: 100px;
      margin: 20px;
      cursor: pointer;
    }

    .item:nth-child(2) {
      --c1: #F8E559;
      --c2: #864AF9;
      --c3: #3B3486;
      --c4: #332941;
    }

    .item:nth-child(3) {
      --c1: #DCF2F1;
      --c2: #7FC7D9;
      --c3: #365486;
      --c4: #0F1035;
    }


    .layer {
      position: absolute;
      width: 100px;
      aspect-ratio: 1;
      transform: rotate(0deg);
      opacity: 0;
      pointer-events: none;
      scale: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      z-index: 10;
      text-shadow: 1px 1px 10px var(--c1);
    }

    .item .layer:nth-child(1) {
      background-color: var(--c2);
    }

    .item .layer:nth-child(2) {
      background-color: var(--c3);
    }

    .item .layer:nth-child(3) {
      background-color: var(--c4);
      color: var(--c1)
    }

    .item .layer:nth-child(3) i {
      transform: rotate(-420deg);
      font-size: 4rem;
    }




    .item.open .layer:nth-child(1) {
      transform: rotate(380deg);
      opacity: 1;
      scale: 1;
      pointer-events: all;
      transition: all 1s 0.5s;
    }

    .item.open .layer:nth-child(2) {
      transform: rotate(400deg);
      opacity: 1;
      scale: 1;
      pointer-events: all;
      transition: all 1s 0.7s;
    }

    .item.open .layer:nth-child(3) {
      transform: rotate(420deg);
      opacity: 1;
      scale: 1;
      pointer-events: all;
      transition: all 1s 0.9s;
    }

    .item.close .layer {
      transform: rotate(0deg);
      opacity: 0;
      scale: 0;
      pointer-events: none;
    }

    .item.close .layer:nth-child(1) {
      transition: all 1s 1.2s;
    }

    .item.close .layer:nth-child(2) {
      transition: all 1s 1.4s;
    }

    .item.close .layer:nth-child(3) {
      transition: all 1s 1.6s;
    }

    .item.open .text {
      width: 85%;
      transition: width 1s 1.9s, opacity 0.5s 2s, padding 0.5s 1.9s;
      opacity: 1;
      padding-left: 20%;
    }

    .item .text span {
      transition: opacity 0.5s 2.5s;
      opacity: 1;
    }

    .item.open .text span {
      transition: opacity 0.5s 2.5s;
      opacity: 1;
    }

    .item.close .text {
      width: 0%;
      transition: width 1s, opacity 0.2s 1s, padding 0.5s;
      opacity: 0;
      padding-left: 0%;
    }

    .item.close .text span {
      transition: opacity 0.2s;
      opacity: 0;
    }

    .text {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      width: 0%;
      left: 15%;
      height: 100%;
      z-index: 0;
      background-color: var(--c4);
      box-shadow: 1px 1px 10px var(--c3);
      border-radius: 10px;
      color: var(--c1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-shadow: 1px 1px 10px var(--c1);
      overflow: hidden;
    }

    .text span:nth-child(1) {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    .open-icon {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      aspect-ratio: 1;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      background-color: var(--c4);
      border-radius: 10px;
      color: var(--c1);
      box-shadow: 1px 1px 10px var(--c3);
    }

    .item.open .open-icon {
      /* animation: name duration timing-function delay iteration-count direction fill-mode; */
      animation: open-icon-animation 1s linear 0s 1 forwards;
    }

    .item.close .open-icon {
      left: 0;
      transform: translateX(0) rotate(-360deg);
      opacity: 0;
      scale: 0;
      animation: close-icon-animation 1s linear 1.8s 1 forwards;
    }

    @keyframes open-icon-animation {
      0% {
        left: 50%;
        transform: translateX(-50%) rotate(0);
        opacity: 1;
        scale: 1;
      }

      50% {
        left: 0;
        transform: translateX(0) rotate(0);
        opacity: 1;
        scale: 1;
      }

      100% {
        left: 0;
        transform: translateX(0) rotate(-360deg);
        opacity: 0;
        scale: 0;
      }
    }

    @keyframes close-icon-animation {

      0% {
        left: 0;
        transform: translateX(0) rotate(-360deg);
        opacity: 0;
        scale: 0;
      }

      50% {
        left: 0;
        transform: translateX(0) rotate(0);
        opacity: 1;
        scale: 1;
      }

      100% {
        left: 50%;
        transform: translateX(-50%) rotate(0);
        opacity: 1;
        scale: 1;
      }
}